.md-footer-meta {
  display: none !important;
}

.md-header-nav__source {
  display: none !important;
}

.md-grid {
  max-width: 122rem !important;
}

.framed-python {
  margin-top: -70px;
  overflow: hidden;
}

.framed-r {
  margin-top: 0px;
  overflow: hidden;
}

.framed-r-api {
  margin-top: -50px;
  overflow: hidden;
}

.framed-github {
  height: 100vh !important;
  width: 100% !important;
}

img[alt="icon"] {
  width: 50px;
}

@media only screen and (min-width: 76.25em) {
  .framed-python {
    margin-left: -45px;
  }
  .framed-r-api {
    margin-left: -45px;
  }
}
table {
    display: block;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }

  :root {
    --md-primary-fg-color:        #1E88E5;
    --md-primary-fg-color--light: #000482;
    --md-primary-fg-color--dark:  #b5b7ff;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card h2 {
    margin-top: 0;
  }

  .card p {
    margin-bottom: 0;}

    .github-logo {
      height: 15px;
      width: 13px;
      margin-left: 10px;
  }

  iframe[seamless] {
    border: none;
}